<div class="container-content">
    <mat-toolbar class="container-wrap-title mat-elevation-z2">
        <span>Most powerful characters</span>
        <div class="div-flex"></div>
        <button mat-raised-button *ngIf="isUpp" (click)="changeOrder()">
            Order by: name (ascend)
        </button>
        <button mat-raised-button *ngIf="!isUpp" (click)="changeOrder()">
            Order by: name (descend)
        </button>
    </mat-toolbar>
    <div class="div-block">
        <mat-form-field style="width: 75%; margin-right: 10px;" appearance="outline">
            <mat-label>Filter value</mat-label>
            <input type="text" matInput [(ngModel)]="filter" (ngModelChange)="filterBy()"/>
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <mat-form-field style="width: 25%;" appearance="outline">
            <mat-label>Filter by</mat-label>
            <mat-select [value]="0" (valueChange)="changeFilterType($event)">
                <mat-option [value]="0">Name</mat-option>
                <mat-option [value]="1">Comics</mat-option>
                <mat-option [value]="2">Stories</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="txt-center full-w" *ngIf="characters.length == 0">
        <span>No records found</span>
    </div>
    <cdk-virtual-scroll-viewport [itemSize]="0" class="vs-viewport" #scroll>
        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="28px" fxLayoutAlign="flex-start"
            class="container-wrap">
            <ng-template *cdkVirtualFor="let character of characters" [ngIf]="true">
                <mat-card fxFlex="0 1 calc(16% - 28px)" fxFlex.lt-md="0 1 calc(50% - 28px)" fxFlex.lt-sm="100%"
                    class="mat-elevation-z4 card-content">
                    <mat-card-header>
                        <mat-card-title>
                            {{elipsis(character.name, 10)}}
                        </mat-card-title>
                    </mat-card-header>
                    <img mat-card-image [src]="getImage(character)" [alt]="character.name" style="height: 245px;">
                </mat-card>
            </ng-template>
        </div>
    </cdk-virtual-scroll-viewport>
    <div class="loading-data float-container" *ngIf="isLoadScroll">
        <div class="div-block">
            <div class="div-flex"></div>
            <mat-progress-spinner mode="indeterminate" diameter="20"></mat-progress-spinner>
            <span>Loading data...</span>
        </div>
    </div>
</div>