.container-wrap {
    margin-left: 28px;
    margin-top: 24px;
}
.container-wrap-title{
    margin-bottom: 20px;
}
.card-content{
    margin-bottom: 10px;
}
.vs-viewport {
    height: calc((199.73px * 2) + 64px);
    width: 100%;
}
.loading-data span {
    margin-left: 15px;
}
.loading-data {
    top: calc(100% - 18px) !important;
}
.container-content{
    margin: 30px;
}